/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general  */
body {
  font-family: 'Fredoka', sans-serif;
  background-color: azure;
}

header, main {
  width: 1000px;
  max-width: 80%;
  margin: 50px auto;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #e53170;
  padding-bottom: 30px;
}

.card {
  display: inline-block; 
  background-color: blueviolet;
  margin-left: 20px;
  height: 100px;
  width: calc(30%);
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.card img {
  height: 100%;
}
.clearfit::after {
  content: "";
  display: table;
  clear: both;
}