/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general  */

body {
  font-family: 'Fredoka', sans-serif;
  font-size: 12px;
}

header, main {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #e53170;
  padding-bottom: 40px;
}

img {
  height: 100%;
}

/* general flot  */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfit::after {
  content: "";
  display: table;
  clear: both;
}

/* main  */

.card {
  display: inline-block;  
  height: 80px;
  min-width: 230px;
  /* calc((100% - totaleMarginiOrizzontali ) / 3 */
  width: calc((100% - 60px) / 3);
  background-color: black;
  color: white;
  margin: 20px 15px 20px 0;
  -webkit-box-shadow:  0 0 15px grey;
}

/* card  */

.card h3 {
  padding-bottom: 6px;
}

.info {
  padding: 10px;
}

.email {
  color: #45cce3;
  padding-top: 6px;
}
